*.mem
**/Manifest.toml
dev/p4est_include
dev/LibP4est.jl
docs/build
docs/src/authors.md
docs/src/contributing.md
docs/src/index.md
docs/src/license.md
public/
coverage/
coverage_report/
**/*.jl.*.cov
LocalPreferences.toml

