# https://docs.travis-ci.com/user/languages/julia/

language: julia

julia:
  - 1 # latest 1.x.y
  # - nightly

os:
  - linux

jobs:
  allow_failures:
    - julia: nightly
  include:
    - if: type = push AND branch = master
      julia: 1
      os: osx
    # - stage: "Documentation"
    #   julia: 1
    #   os: linux
    #   script:
    #     - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
    #                                            Pkg.build("Trixi");
    #                                            Pkg.instantiate()'
    #     - julia --project=docs/ docs/make.jl
    #   after_success: skip

# coveralls with merging of multiple builds, cf. https://docs.coveralls.io/parallel-build-webhook
coveralls: true
env:
  global:
    - COVERALLS_PARALLEL=true
  jobs:
    - P4EST_TEST=P4EST_JLL_NON_MPI
    - P4EST_TEST=P4EST_CUSTOM_NON_MPI
notifications:
  webhooks: https://coveralls.io/webhook
  email: false

# codecov merges multiple reports automatically, cf. https://docs.codecov.io/docs/merging-reports
codecov: true

# avoid duplicate tests in PRs
branches:
  only:
    - master

# we could install binary dependencies if necessary
addons:
  apt:
    packages:
      - gfortran

before_script:
  - ./.travis_install_p4est.sh

script:
  # - if [ "${P4EST_TEST}" = "P4EST_JLL_NON_MPI" ]; then
  #     # nothing to do; equivalent to
  #     # export JULIA_P4EST_LIBRARY=""
  #     # export JULIA_P4EST_INCLUDE=""
  #   fi
  # - if [ "${P4EST_TEST}" = "P4EST_CUSTOM_NON_MPI" ]; then
  #     # set library and include paths according to custom build in .travis_install_p4est.sh
  #     export JULIA_P4EST_LIBRARY="$P4EST_TMP/prefix/lib/libp4est-2.2.so"
  #     export JULIA_P4EST_INCLUDE="$P4EST_TMP/prefix/include"
  #   fi
  - julia --color=yes --check-bounds=yes -e 'using Pkg; Pkg.build(; verbose=true); Pkg.test(coverage=true)'

# submit coverage reports (enabled already above) and/or deploy docs
# after_success:
